.lente{
 padding: 10px;}
.campanella{color: orange;}
li{list-style: none;padding-left: 0;}
.my-logo-sm{
    width:40%;
}
.my-badges{
    background-color:rgba(82, 82, 82,0.4);
    border-radius: 20px;
}

.my-hidden-view{
    background: white;
    width: 60vw !important;
}

.imput-hidden-page{
    width: 100% ;
}



.actions{
    color: grey;
    border:2px solid black;
}
.title-card{background-color: rgb(179, 179, 179);}
.class-checkA,.class-checkB,.class-checkC{
    text-align: center;
}
.class-checkA{    
    background-color: darkgreen;
}
.class-checkB{
    background-color: darkred;
}

.class-checkC{
    background-color: gold;
}
